<div class="footer">
    <a href="#http://weibo.com/alan" class="weibo">Weibo</a>
    <a href="#https://github.com/alan" class="github">Github</a>
    <a href="#gmail.com" class="mail">Email</a>
    <div class="powered-by">
        <a href="http://alanblog.com" title="">Powered by alan</a>&nbsp;
    </div>
</div><!-- footer -->

</body>
</html>